@import './variables/zIndex.css';
@import './variables/colors.css';

/**
 *  Border favorite star
 */

.favorites-star,
.favorites-star:before,
.favorites-star:after {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 7px solid var(--color-blank);
  border-left: 10px solid transparent;
}

.favorites-star {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotateZ(35deg);

  margin: auto;
}

.favorites-star:before {
  transform: rotateZ(-70deg) translate(-4px, -10px);

  display: block;

  content: '';
}

.favorites-star:after {
  transform: rotateZ(-35deg) translate(1px, -13px);

  display: block;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;

  content: '';
}

/**
 *  Active favorites
 */

.control--active .favorites-star,
.control--active .favorites-star:before,
.control--active .favorites-star:after {
  border-bottom-color: var(--color-secondary);
}

/**
 *  Spinner
 */

.spinner {
  position: relative;

  display: inline-block;
  width: 40px;
  height: 40px;
}


.spinner:before {
  position: absolute;
  z-index: var(--zIndex-2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';
  opacity: .5;
}

.spinner:after {
  position: absolute;
  z-index: var(--zIndex-3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 30px;
  height: 30px;
  margin: auto;
  border: 3px solid;
  border-radius: 50%;

  border-top-color: #4652e0;
  border-right-color: #2bac2b;
  border-bottom-color: #cab831;
  border-left-color: #e25454;

  content: '';
  animation: spinningAnim linear 1s 0 infinite;;
}

@keyframes spinningAnim {
  0% {
    transform: translateZ(0) rotateZ(0deg);
  }

  100% {
    transform: translateZ(0) rotateZ(360deg);
  }
}

/**
 *  Back arrow
 */

.back-arrow:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotateZ(-45deg) skew(10deg, 10deg) translate(3px,3px);

  width: 15px;
  height: 15px;
  margin: auto;
  border-top: 3px solid var(--color-blank);
  border-left: 3px solid var(--color-blank);

  content: '';
}

/**
 *  Full screen
 */

.fullscreen > span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(-10px, -10px);

  width: 1px;
  height: 1px;
  margin: auto;
}

.fullscreen > span:before {
  position: absolute;

  width: 5px;
  height: 5px;
  border-top: 2px solid var(--color-blank);
  border-left: 2px solid var(--color-blank);

  content: '';
}

.fullscreen > span:after {
  position: absolute;
  transform: rotateZ(45deg) translate(2px,2.5px);

  width: 9px;
  height: 2px;

  background-color: var(--color-blank);

  content: '';
}

.fullscreen > span:nth-child(2) {
  transform: rotateZ(90deg) translate(-10px, -10px);
}

.fullscreen > span:nth-child(3) {
  transform: rotateZ(180deg) translate(-10px, -10px);
}

.fullscreen > span:nth-child(4) {
  transform: rotateZ(270deg) translate(-10px, -10px);
}

/**
 *  Close full screen
 */

.close-fullscreen > span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(-8px,-8px);

  width: 1px;
  height: 1px;
  margin: auto;
}

.close-fullscreen > span:before {
  position: absolute;

  width: 5px;
  height: 5px;
  border-right: 2px solid var(--color-blank);
  border-bottom: 2px solid var(--color-blank);

  content: '';
}

.close-fullscreen > span:after {
  position: absolute;
  transform: rotateZ(45deg) translate(-1px,3.2px);

  width: 9px;
  height: 2px;

  background-color: var(--color-blank);

  content: '';
}

.close-fullscreen > span:nth-child(2) {
  transform: rotateZ(90deg) translate(-7px,-7px);
}

.close-fullscreen > span:nth-child(3) {
  transform: rotateZ(180deg) translate(-6px,-8px);
}

.close-fullscreen > span:nth-child(4) {
  transform: rotateZ(270deg) translate(-7px,-9px);
}

.sandwich {
  top: 50%;
  left: 25%;

  margin-top: -1.5px;
}

.sandwich,
.sandwich:before,
.sandwich:after {
  position: absolute;

  display: inline-block;
  width: 20px;
  height: 3px;

  background-color: var(--color-blank);
}

.sandwich:before,
.sandwich:after {
  left: 0;

  content: '';
}

.sandwich:before {
  transform: translateY(-250%);
}

.sandwich:after {
  transform: translateY(250%);
}

.sandwich-close {
  top: 50%;
  left: 25%;

  margin-top: -1.5px;

  background-color: transparent;
}

.sandwich-close,
.sandwich-close:before,
.sandwich-close:after {
  position: absolute;

  display: inline-block;
  width: 20px;
  height: 3px;
}

.sandwich-close:before,
.sandwich-close:after {
  left: 0;

  background-color: var(--color-lightDark);

  content: '';
}

.sandwich-close:before {
  transform: translateY(0) rotate(45deg);
}

.sandwich-close:after {
  transform: translateY(0) rotate(-45deg);
}
