@import './variables/zIndex.css';
@import './variables/colors.css';

/**
 *  Border favorite star
 */

.favorites-star,
.favorites-star:before,
.favorites-star:after {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 7px solid var(--color-blank);
  border-left: 10px solid transparent;
}

.favorites-star {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotateZ(35deg);

  margin: auto;
}

.favorites-star:before {
  transform: rotateZ(-70deg) translate(-4px, -10px);

  display: block;

  content: '';
}

.favorites-star:after {
  transform: rotateZ(-35deg) translate(1px, -13px);

  display: block;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;

  content: '';
}

/**
 *  Active favorites
 */

.control--active .favorites-star,
.control--active .favorites-star:before,
.control--active .favorites-star:after {
  border-bottom-color: var(--color-secondary);
}

/**
 *  Spinner
 */

.spinner {
  position: relative;

  display: inline-block;
  width: 40px;
  height: 40px;
}


.spinner:before {
  position: absolute;
  z-index: var(--zIndex-2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: '';
  opacity: .5;
}

.spinner:after {
  position: absolute;
  z-index: var(--zIndex-3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 30px;
  height: 30px;
  margin: auto;
  border: 3px solid;
  border-radius: 50%;

  border-top-color: #4652e0;
  border-right-color: #2bac2b;
  border-bottom-color: #cab831;
  border-left-color: #e25454;

  content: '';
  animation: spinningAnim linear 1s 0 infinite;;
}

@keyframes spinningAnim {
  0% {
    transform: translateZ(0) rotateZ(0deg);
  }

  100% {
    transform: translateZ(0) rotateZ(360deg);
  }
}
