@import '../../../css/variables/fonts.css';

.listPres-list {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;
}

.listPres-empty {
  padding: 20px;

  text-align: center;
  @mixin font-body-1;
}
