.listPresItem {
  position: relative;

  max-width: 320px;
  min-height: 240px;
  margin-bottom: 15px;
  overflow: hidden;
}

.listPresItem:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px #99e;
}

.listPresItem-img {
  height: 200px;
  overflow: hidden;

  filter: grayscale(1);
}

.listPresItem:hover .listPresItem-img {
  filter: grayscale(0);
}

.listPresItem-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  max-width: 100%;
}

.listPresItem-title {
  min-height: 40px;

  line-height: 40px;
  text-align: center;
}

.listPresItem-favorite {
  position: absolute;
  z-index: 200;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;
}
