.sideControls {
  width: 100%;
  height: 40px;
  padding: 5px 0;

  text-align: right;
}

.sideControls-back {
  margin-left: 10px;
  float: left;
}

@media only screen and (max-width : 1000px) {
  .sideControls {
    display: flex;

    justify-content: space-between;
  }
}
