.loadMore {
  margin-bottom: 50px;

  text-align: center;
}

.loadMore-button {
  padding: 11px 70px;
  border: 1px solid #888;

  background-color: #fff;

  cursor: pointer;
  transition: box-shadow .2s;
}

.loadMore-button:hover {
  box-shadow: 0 2px 6px #66a;
}
