:root {
  --color-blank: #fff;
  --color-primary: #8bc34a;
  --color-primary-dark: #689f38;
  --color-primary-light: #dcedc8;
  --color-secondary: #ff7043;
  --color-secondary-light: #ffccbc;
  --color-shadow: #455a64;
  --color-dark: #212121;
}
