@import '../../../../css/variables/colors.css';
@import '../../../../css/variables/fonts.css';
@import '../../../../css/variables/zIndex.css';

.presControls {
  position: absolute;
  z-index: var(--zIndex-2);
  top: 0;
  right: 0;

  padding: 15px 30px 15px 15px;

  background-color: #212121;

  opacity: .5;
}

.presControls-slides {
  color: var(--color-blank);
  @mixin font-headline-noColor;
}

.presControls-button {
  position: relative;
  position: relative;
  transform: scale(1.5);

  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 30px;

  cursor: pointer;
}
